@model IEnumerable<Car_Agency.Models.Branch>

@{
    ViewData["Title"] = "Index";
}

<h1 class="alert alert-success text-center mt-5">Branches</h1>

<p>
    <a asp-action="Create" class="btn btn-dark">Create New</a>
</p>

@if(Model.Count() > 0)
{
    <table  class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary w-100">Edit</a> 
                    </td>

                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-warning w-100">Details</a>
                    </td>

                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger w-100">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

else
{
    <h1 class="alert alert-warning text-center mt-5">There are no Branches</h1>

}